<p>side-nav works!</p>
<div class="side-nav-content">

    <ul class="nav-list">

      <!-- <li class="nav-list-item" *ngFor="let item1 of list1">
        <i class="{{item1.icon}}"></i>
        <span>
          <a href="">{{item1.name}}</a>
        </span>
      </li>

      <li class="nav-list-item" *ngFor="let item2 of list2">
        <i class="{{item2.icon}}"></i>
        <span>
          <a href="draft">{{item2.name}}</a>
        </span>
      </li>

      <li class="nav-list-item" *ngFor="let item3 of list3">
        <i class="{{item3.icon}}"></i>
        <span>
          <a href="publishedv">{{item3.name}}</a>
        </span>
      </li>

      <li class="nav-list-item" *ngFor="let item4 of list4">
        <i class="{{item4.icon}}"></i>
        <span>
          <a href="/createv">{{item4.name}}</a>
        </span>
      </li>

      <li class="nav-list-item" *ngFor="let item5 of list5">
        <i class="{{item5.icon}}"></i>
        <span>
          <a href="editv">{{item5.name}}</a>
        </span>
      </li> -->

      <!-- <li class="nav-list-item" *ngFor="let item6 of list6">
        <i class="{{item6.icon}}"></i>
        <span>
          <a href="">{{item6.name}}</a>
        </span>
      </li> -->

    </ul>

  </div>
