
<nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#" style="color: black; font-size:30px; font-weight:bold" >ReadWrite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="about"style="color: black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="contact"style="color: black;">Contact</a>
        </li><li class="nav-item">

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: black;">
            Register
          </a>
          <ul class="dropdown-menu text-black">
            <li><a class="dropdown-item" href="writer-register">Writer</a></li>
            <li><a class="dropdown-item" href="reader-register">Reader</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: black;">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="writer-login">Writer</a></li>
            <li><a class="dropdown-item" href="reader-login">Reader</a></li>


          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>


<!-- starts tin -->

  <div class="topbar">
    <div class="logo">
      <!-- <img src="assets/LOGO.png" alt=""> -->
    </div>

  </div>


  <div class="intro">

    <div class="txt-area" style="width:70%;">
       <p style="font-size:30px;">About ReadWrite</p>
       <p>A social reading platform called ReadWrite helps readers and writers connect online. It encourages users to write and publish original works in a variety of genres, including teen fiction, poetry, action, and adventure.

        ReadWrite stories were developed by local users who may later publish them for wider audiences. They range from those in the public domain from Project Gutenberg and were created in the Philippines in 2023 by MB Team. As a result, teenagers and young adults can write knowing that their work may be read by many people. It's crucial that they comprehend how to keep secure on ReadWrite as a result.</p>
        <hr>
        <p>ReadWrite has a wide range of options to categorize its stories and various forms of content, which can assist users in avoiding offensive material or locating the precise subject matter they wish to read and write about.</p>
        <hr>
        <p>Children can readily access some categories that are appropriate for their age range and others that are not. Different forms of content are included in each of the categories, which vary from romance and fan fiction to LGBTQ+ and adventures. There is also a category called "New Adult" that includes erotic, love, and romance stories with titles like "booty call" and "I slept with my stepbrother," as well as "smut" stories that involve explicit language and sex.

          On ReadWrite, there are a number of settings that may be used to control what young kids see and keep them safe.</p>
    </div>
    </div>

<div class="footer">
  <div class="links">
    <img src="assets/mail.png" alt=""><a href="">memoria_gazette@gmail.com&nbsp;|&nbsp;</a>
    <img src="assets/phone.png" alt=""><a href="">0912 345 6789</a>

  </div>
  <div class="terms">
    <span>Copyright &copy; 2023 MEMORIA | All rights reserved</span>
    <br>
    <a href="">Terms & conditions</a>
    |
    <a href="">Privacy Policy</a>
  </div>

</div>










<!-- <router-outlet></router-outlet> -->





