<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>My Diary App</title>
  </head>
  <body>

    <!-- Journal Entry Section -->
    <section class="section journal-section">
      <div class="container-fluid">
        <div class="container-row container-row-journal">
          <div class="container-item container-item-journal">
          <h1>Your Drafts</h1>
          <hr>

            <form id="entryForm" action="" *ngFor="let draft of dataArray">
              <label for="entry-title" class="journal-label">Title</label>
              <!--  -->
              <!-- <td>{{draft.title}}</td> -->

              <input
              type="text"
              name="entry-title"
              id="entry-title"
              readonly
              disabled="disabled"
              class="entry-text-title"
              placeholder=" {{draft.title}}"
/>


            <label for="entry" class="journal-label">Content</label>

            <textarea

              name="daily-entry"
              id="entry"
              readonly
              disabled="disabled"
              class="entry-text-box"
              *ngIf="draft.content"
            > {{draft.content}}</textarea>

             <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button routerLink="/editv" class="btn btn-outline-dark me-md-2" type="button">Edit</button>
                <button class="btn btn-outline-dark" type="button">Publish</button>
                <button class="btn btn-outline-dark" type="button">Delete</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </section>




    <!-- Journal Entry Results -->
    <section class="section sectionEntryResults" id="entryResultsSection">
      <div class="container">
        <div class="container-row entryResultRow"></div>
      </div>
    </section>

    <script src="index.js"></script>

  </body>

</html>
