


<nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#" style="color: black; font-size:30px; font-weight:bold" >ReadWrite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="about"style="color: black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="contact"style="color: black;">Contact</a>
        </li><li class="nav-item">

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-black" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: black;">
            Register
          </a>
          <ul class="dropdown-menu text-black">
            <li><a class="dropdown-item" href="writer-register">Writer</a></li>
            <li><a class="dropdown-item"  href="reader-register">Reader</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: black;">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  href="writer-login">Writer</a></li>
            <li><a class="dropdown-item"  href="reader-login">Reader</a></li>


          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>


<!-- starts tin -->

  <div class="topbar">
    <div class="logo">
      <!-- <img src="assets/LOGO.png" alt=""> -->
    </div>

  </div>


  <div class="intro">

    <div class="txt-area" style="width:70%;">


<!-- <div class="contact" id="contact"> -->
  <!-- <div class="container"> -->
      <h2>Contact Us</h2>
      <!-- <div class="container2"> -->

              <form action="/action_page.php">
                  <label for="fname"style="color:rgb(169, 161, 161);">Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your Name.."><br>

                  <label for="lname" style="color:rgb(169, 161, 161);">Email</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your Email.."><br>

                  <label for="country"style="color:rgb(169, 161, 161);">Country</label>
                  <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="phillipines">Philippines</option>
                      <option value="southkorea">South Korea</option>
                      <option value="southkorea">Africa</option>
                      <option value="southkorea">Singapore</option>
                      <option value="usa">USA</option>
                  </select><br>

                  <label for="subject" style="color:rgb(169, 161, 161);">Message</label><br>
                  <textarea id="subject" name="subject" placeholder="Write your message.."
                      style="height:200px"></textarea><br>

                  <button type="button" value="submit">Send</button>

              </form>
              <hr>
              <br>



              <div class="my_icons">
                <div class="team">
                  <h3>Meet our brilliant Team</h3>
                  <p>Live support available from Monday-Saturday 7:00am-6:30pm</p>
                  <!-- <button> <img class="team1" src="./img/photo1.png" alt="Avatar"
                          style="width:250px; height:250px;" onclick="image(event, 'bebie')"></button> -->
              </div>

                <ul>
                    <h2>OurContacts</h2>
                    <li>Email: bebiebalbuena21readerwrite@gmail.com</li>
                    <li>Phone:09285420417</li>
                    <li>Facebook:readewrite@facebook.com</li>
                    <li>Location: Nasipit, Talamban, Ceby City, Samjung Building</li>
                </ul>
            </div>




          </div>

    </div>











<!-- <router-outlet></router-outlet> -->




















